<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <p>
      <strong>Name:</strong>
      <%= @parts_order.name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @parts_order.phone %>
    </p>

    <p>
      <strong>Zip:</strong>
      <%= @parts_order.zip %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @parts_order.email %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @parts_order.year %>
    </p>

    <p>
      <strong>Make:</strong>
      <%= @parts_order.make %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @parts_order.model %>
    </p>

    <p>
      <strong>Vin:</strong>
      <%= @parts_order.vin %>
    </p>

    <p>
      <strong>Comments:</strong>
      <%= @parts_order.comments %>
    </p>
  </body>
</html>
