<div class="the_fields">
	<div class="text_field">
	  <div class="gray_label fifth">
	  	<p>E-Mail Address</p>
	  </div>
	  <div class="text_field_content">
	  <%= form.text_field :email, :type => 'email', placeholder: 'you@example.com' %>
		</div>
	</div>
</div>

<div class="the_fields">
	<div class="text_field">
	  <div class="gray_label fifth">
	  	<p>Password</p>
	  </div>
	  <div class="text_field_content">
	  	<%= form.password_field :password %>
	  </div>
	</div>
</div>
