<div class="container">
  <div id='clearance' class='sign-up'>
    <section class="form_section">
    <h2 class="thin_form_title">Sign Up</h2>

    <%= form_for @user do |form| %>
      <%= render :partial => '/users/form', :object => form %>

      <div class="actions">
        <%= form.submit %>
      </div>


      <div class='other-links'>
        <%= link_to '<p>sign in</p>'.html_safe, sign_in_path, class: 'red_button small' %>
      </div>
    <% end %>
    </section>
  </div>
</div>