  <!--Integration Code Snippets for the ContactAtOnce! Essentials Edition.-->
  
  <!--***************************************************************************************-->
  
  <!-- The following code snippets are intended for the Web Site Provider                 -->
  
  <!-- Please see http://www.contactatonce.com/support/DirectMerchantDeveloperHelp.html      -->
  <!--***************************************************************************************-->
  
  <!--Presence aware chat button link for Homepage placement.-->

<!--   <a onclick="javascript:window.open('http://applications.contactatonce.com/CaoClientContainer.aspx?MerchantId=48039&amp;Providerid=3341&amp;PlacementId=1&amp;OriginationUrl='+encodeURIComponent(location.href),'','resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=no,status=no,height=400,width=600');return false;" href="#"><img onerror="this.height=0;this.width=0" src="http://applications.contactatonce.com/getagentstatusimage.aspx?MerchantId=48039&amp;ProviderId=3341&amp;PlacementId=1" border="0" /></a> -->


  <!--Presence aware chat button link for Search Listing placement.-->

<!--   <a onclick="javascript:window.open('http://applications.contactatonce.com/CaoClientContainer.aspx?MerchantId=48039&amp;Providerid=3341&amp;PlacementId=2&amp;OriginationUrl='+encodeURIComponent(location.href),'','resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=no,status=no,height=400,width=600');return false;" href="#"><img onerror="this.height=0;this.width=0" src="http://applications.contactatonce.com/getagentstatusimage.aspx?MerchantId=48039&amp;ProviderId=3341&amp;PlacementId=2" border="0" /></a> -->


  <!--Presence aware chat button link for Contact Page placement.-->

<!--   <a onclick="javascript:window.open('http://applications.contactatonce.com/CaoClientContainer.aspx?MerchantId=48039&amp;Providerid=3341&amp;PlacementId=3&amp;OriginationUrl='+encodeURIComponent(location.href),'','resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=no,status=no,height=400,width=600');return false;" href="#"><img onerror="this.height=0;this.width=0" src="http://applications.contactatonce.com/getagentstatusimage.aspx?MerchantId=48039&amp;ProviderId=3341&amp;PlacementId=3" border="0" /></a> -->


  
  <!--DropIn Business Card Script Begins Here                                            -->
  <!--Presence aware business card dropin. Include the following lines at the end of    -->
  <!--any page on which you would like to display the dropin (just before the            -->
  <!--</body> tag).  The lines should not be placed inside a DIV or a TABLE. -->
  <script language="JavaScript" src="http://applications.contactatonce.com/scripts/PopIn.js" type="text/javascript">//placeholder</script>
  <script language="JavaScript" src="http://applications.contactatonce.com/PopInGenerator.aspx?MerchantId=48039&amp;ProviderId=3341&amp;PlacementId=0" type="text/javascript">//placeholder</script>
  <script language="JavaScript">
    function WrappedPopin()
    {
      try { popIn(); }
      catch(Exception){}
    }
    WrappedPopin();
  </script>
  <!--DropIn Business Card Script Ends Here                                                          -->
  
  
  <!--**************************************************************************************-->
  
  <!--End of Web Site Provider code snippets-->
  
  <!--**************************************************************************************-->
  