<% provide(:title, 'Facility') %>
<div class="gray_back">
	<section class="main_top lazy" data-original="<%= asset_path('facility_1.jpg') %>" style="background-image: url()">
		<div class="container facility1">
			<h2 class="text">Devotion to Design</h2>
			<h2 class="text">Doesn't Stop with Our Cars</h2>
		</div>
	</section>
</div>
<div class="gray_back">
	<section class="main_top lazy" data-original="<%= asset_path('facility_2.jpg') %>" style="background-image: url()">
		<div class="facility2">
			<div class="leed">
				<div class="container">
					<h2>"LEEDING" THE GREEN CHARGE</h2>
					<p>LEED, or Leadership in Energy & Environmental Design, is a third-party verification program for green buildings instituted by the U.S. Green Building Council. While designing the dealership in 2011 from the ground up, the decision to go for LEED certification was a no-brainer. As a result, we conserve energy, water, and other precious resources on a daily basis, and our building is, in general, healthier and safer for our customers and employees to be in.</p>
					<div class="bottom_border"></div>
					<div class="prior"></div>
				</div>
			</div>
			<div class="fastlane">
				<div class="container">
					<div class="fastlane_inner">
						<h2>(EVERYDAY) LIFE IN THE FAST LANE</h2>
						<p>At Nissan of Omaha, we help streamline the process of those simple, everyday tasks that can take time away from the more important things in life. Not only is it a cinch to get online and schedule your service appointment without picking up the phone, but the dealership is also equipped with an express service lane for oil changes and a fully automatic car wash. Nissan technicians are quick and efficient, so that next time your oil change indicator starts flashing, it won’t be such a drag.</p>
						<div class="bottom_border"></div>
						<div class="prior left"></div>
						<a href="/getservice" class="red_button small"><p>Schedule Service</p></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>