<div class="container">
		<h1 class="inventory_title">New Inventory</h1>

	<div class="row" ng-controller="ItemsCtrl">
		<div class="row collapse">
      <div class="inventory_search">
        <input type="text" ng-model="query" placeholder="Search" />
        <span class="inventory_count">{{(items|filter:query).length}} Cars</span>
      </div>
    </div>
	<!--	
		<div class="large-12 columns">
			<dl class="accordion" data-accordion>
				<div ng-show="loading">Loading Cars...</div>
				<dd class="car" ng-repeat="item in items | filter:query">
					<a href="#panel{{$index + 1}}">{{item.year}} {{item.make}} {{item.model}}</a>
					<div id="panel{{$index + 1}}" class="content">
						<ul>
							<li><b>Dealer ID:</b> {{item.dealerid}}</li>
							<li><b>VIN:</b> {{item.vin}}</li>
							<li><b>Stock:</b> {{item.stock_}}</li>
							<li><b>New/Used:</b> {{item.newused}}</li>
							<li><b>Year:</b> {{item.year}}</li>
							<li><b>Make:</b> {{item.make}}</li>
							<li><b>Model:</b> {{item.model}}</li>
							<li><b>Model Number:</b> {{item.model_number}}</li>
							<li><b>Body:</b> {{item.body}}</li>
							<li><b>Transmission:</b> {{item.transmission}}</li>
							<li><b>Series:</b> {{item.series}}</li>
							<li><b>Body Door Count:</b> {{item.body_door_ct}}</li>
							<li><b>Odometer:</b> {{item.odometer}}</li>
							<li><b>Engine Cylinder Count:</b> {{item.engine_cylinder_ct}}</li>
							<li><b>Engine Displacement:</b> {{item.engine_displacement}}</li>
							<li><b>Drivetrain:</b> {{item.drivetrain_desc}}</li>
							<li><b>Color:</b> {{item.colour}}</li>
							<li><b>Interior Color:</b> {{item.interior_color}}</li>
							<li><b>Invoice:</b> {{item.invoice}}</li>
							<li><b>MSRP:</b> {{item.msrp}}</li>
							<li><b>Book Value:</b> {{item.book_value}}</li>
							<li><b>Price:</b> {{item.price}}</li>
							<li><b>Inventory Date:</b> {{item.inventory_date}}</li>
							<li><b>Certified:</b> {{item.certified}}</li>
							<li><b>Description:</b> {{item.description}}</li>
							<li><b>Features:</b> {{item.features}}</li>
							<li><b>Photo URL:</b> {{item.photo_url_list}}</li>
							<li><b>City MPG:</b> {{item.city_mpg}}</li>
							<li><b>Highway MPG:</b> {{item.highway_mpg}}</li>
							<li><b>Photos Last Modified Date:</b> {{item.photos_last_modified_date}}</li>
							<li><b>Status Code:</b> {{item.status_code}}</li>
							<li><b>Cost:</b> {{item.cost}}</li>
							<li><b>Series Detail:</b> {{item.series_detail}}</li>
							<li><b>Inspection Checklist:</b> {{item.inspection_checklist_}}</li>
							<li><b>Video URL:</b> {{item.video_url}}</li>
							<li><b>Video Player URL:</b> {{item.video_player_url}}</li>
							<li><b>R/W:</b> {{item.rw}}</li>
						</ul>
				</dd>
			</dl>
		</div>
	-->
		<div class="vehiclegroup">
			<ul class="vehicles">
		    <li data-ng-repeat="item in items | orderBy:'price' | filter:query" class="repeat-item">
		      <div class="vehicle" >
		        <div class="top"><p class="year">{{item.year}}</p><p class="drive">{{item.drivetrain_desc}}</p></div>
		        <div class="main">
		          <a href="/used/{{item.vin}}"><div class="image" style="background-image: url('{{item.photos[0]}}') "></div></a>
		          <p class="name"><a href="/used/{{item.vin}}">{{item.make}} {{item.model }}</a></p>
		          <p class="price">${{item.price | number:0}}</p>
		          <p class="name">{{ item.colour }}</p>
		          
		          <div class="bottom">
		            <div class="comments">
		              <p class="ma">Transmission</p>
		              <p class="mpg">Miles per Gallon</p>
		              <p class="mileage">Mileage</p>
		            </div>
		            <div class="chips">
		              <p class="ma">{{item.m_a}}</p>
		              <p class="mpg">
		                <span ng-show="{{item.city_mpg}}">{{item.city_mpg}}</span>
		                <span ng-show="{{item.city_mpg&&item.highway_mpg}}">/</span>
		                <span ng-show="{{item.highway_mpg}}">{{item.highway_mpg}}</span></p>
		              <p class="mileage">{{item.mileage }} k</p>
		            </div>
		            
		          </div>
		        </div>
		      </div>
		    </li> 
		  </ul>
	  </div>
	</div>

</div>