<div class="row">
	<h1>Inventory <small class="subheader">(<%= link_to "inventory.txt", "inventory.txt" %>)</small></h1>
	
</div>

<div class="row">
	<form>
		<input type="text" ng-model="query" placeholder="Search">
	</form>
	<dl class="accordion" data-accordion ng-controller="ItemsCtrl">
		<div ng-show="loading">Loading Cars...</div>
		<dd class="car" ng-repeat="item in items | filter:query">
			<a href="#panel{{$index + 1}}">Car #{{$index + 1}}</a>
			<div id="panel{{$index + 1}}" class="content">
				<ul>
					<li><b>Dealer ID:</b> {{item.dealerid}}</li>
					<li><b>VIN:</b> {{item.vin}}</li>
					<li><b>Stock:</b> {{item.stock_}}</li>
					<li><b>New/Used:</b> {{item.newused}}</li>
					<li><b>Year:</b> {{item.year}}</li>
					<li><b>Make:</b> {{item.make}}</li>
					<li><b>Model:</b> {{item.model}}</li>
					<li><b>Model Number:</b> {{item.model_number}}</li>
					<li><b>Body:</b> {{item.body}}</li>
					<li><b>Transmission:</b> {{item.transmission}}</li>
					<li><b>Series:</b> {{item.series}}</li>
					<li><b>Body Door Count:</b> {{item.body_door_ct}}</li>
					<li><b>Odometer:</b> {{item.odometer}}</li>
					<li><b>Engine Cylinder Count:</b> {{item.engine_cylinder_ct}}</li>
					<li><b>Engine Displacement:</b> {{item.engine_displacement}}</li>
					<li><b>Drivetrain:</b> {{item.drivetrain_desc}}</li>
					<li><b>Color:</b> {{item.colour}}</li>
					<li><b>Interior Color:</b> {{item.interior_color}}</li>
					<li><b>Invoice:</b> {{item.invoice}}</li>
					<li><b>MSRP:</b> {{item.msrp}}</li>
					<li><b>Book Value:</b> {{item.book_value}}</li>
					<li><b>Price:</b> {{item.price}}</li>
					<li><b>Inventory Date:</b> {{item.inventory_date}}</li>
					<li><b>Certified:</b> {{item.certified}}</li>
					<li><b>Description:</b> {{item.description}}</li>
					<li><b>Features:</b> {{item.features}}</li>
					<li><b>Photo URL:</b> {{item.photo_url_list}}</li>
					<li><b>City MPG:</b> {{item.city_mpg}}</li>
					<li><b>Highway MPG:</b> {{item.highway_mpg}}</li>
					<li><b>Photos Last Modified Date:</b> {{item.photos_last_modified_date}}</li>
					<li><b>Status Code:</b> {{item.status_code}}</li>
					<li><b>Cost:</b> {{item.cost}}</li>
					<li><b>Series Detail:</b> {{item.series_detail}}</li>
					<li><b>Inspection Checklist:</b> {{item.inspection_checklist_}}</li>
					<li><b>Video URL:</b> {{item.video_url}}</li>
					<li><b>Video Player URL:</b> {{item.video_player_url}}</li>
					<li><b>R/W:</b> {{item.rw}}</li>
				</ul>
		</dd>
	</dl>
</div>