<% provide(:title, 'Home') %>
<section class="main_top" style="background-image: url(<%= asset_path('homemain.jpg') %>)">
	<div class="container home">
		<h1>Redesigned from the Ground Up</h1>
		<h4>A Visionary Car Company with Legendary Service</h4>
		<div class="bottom_border_home"></div>
		<div class="prior"></div>
		<p>We took a hard look at the car dealership business, inside and out. So, when we opened our doors, it was with a new perspective, a retooling of the status quo. Because we know that buying a car is a big deal. With the largest Nissan inventory in the Midwest, we’re here to help you make the choice that’s best for you. At Nissan of Omaha, you’re in the driver’s seat. </p>
	</div>
</section>

<div class="container home_chairs">
	<div class="home_left">
		<p><span class="red_italic">Few purchases are exciting as a new car.</span> If you’re going to finance your vehicle, get a better idea of what to expect by applying now. Note that not all customers will qualify for all specials and annual percentage rate may vary. Feel free to get in touch — we’re here if you have any questions. </p>
		<div class="bottom_border"></div>
		<a href="/getapproved" class="red_button small"><p>Get Approved</p></a>
	</div>
	<div class="home-right">
		<%= image_tag('home_chairs.png') %>
	</div>
</div>

<div class="container">
	<div class="links">
		<a href="/scheduleajoyride" class="red_button big"><h4>Schedule a Joy Ride Today</h4></a>
	</div>
</div>