<% provide(:title, 'Join Our Team') %>
<section class="join_main" style="background-image: url(<%= asset_path('join_our_team.jpg') %>)">
	<div class="container join_content">
		<div class="inner">
			<h2 class="text">Driven to be</h2>
			<h1 class="text">A Different Kind of Dealership</h1>
		</div>
	</div>
</section>
<section class="join_section_1" style="background-image: url(<%= asset_path('join_section_1.jpg') %>)">
	<div class="container ">
		<div class="join_content_1">
			<h2 class="join_title">FRIENDLY VIBE COMES STANDARD</h2>
			<p class="join_content">To say we’re like a second family around here would be an understatement. At Nissan of Omaha, the well-being of our employees is of utmost importance. It’s more than your average “we care” sentiment. Come see what makes Nissan of Omaha different from the typical company dynamic.</p>
		</div>
	</div>
</section>

<section class="join_section_2" style="background-image: url(<%= asset_path('join_section_2.jpg') %>)">
	<div class="container ">
		<div class="join_content_2">
			<h2 class="join_title">CASH BACK INCENTIVE — FOR DOING WHAT YOU LOVE</h2>
			<p class="join_content">Nissan of Omaha offers a competitive compensation model and an efficient-yet-relaxed atmosphere. We’re always on the lookout for individuals who can bring an enthusiastic vibe to our team. Preference given to car lovers. Download our application and bring it into the dealership. We’re looking forward to meeting you.</p>
		</div>
	</div>
</section>

<section class="join_section_3" style="background-image: url(<%= asset_path('join_section_3.jpg') %>)">
	<div class="container ">
		<div class="join_content_3">
			<h2 class="join_title">WELCOME TO THE WORKPLACE THAT COMES FULLY EQUIPPED</h2>
			<p class="join_content">We believe in providing more than just the standard office perks, from our updated break room to our weight room and showers. As a Nissan of Omaha employee, you can expect to enjoy all the luxurious add-ons that come with being a part of one of the area’s most innovative companies. </p>
			<a href="https://s3.amazonaws.com/nissanofomaha-assets/application.pdf" class="red_button small"><p>Download Application</p></a>
		</div>
	</div>
</section>