<% provide(:title, 'Philosophy') %>
<section class="main_top" style="background-image: url(<%= asset_path('philosophy.jpg') %>)">
	<div class="container big">
		<h4>An Approach That's Rooted in</h4>
		<h1>Quality</h1>
	</div>
</section>

<div class="page">
	<h3 class="page_title">NO ONE LIKES A BACKSEAT DRIVER</h3>
	<p>Pressuring potential buyers into a deal they don’t really want is, without a doubt, the old way to sell cars. We know our customers arrive at the dealership with an idea of what they want. Our job is to help make that happen. At Nissan of Omaha, our ultra-efficient car buying process is in place to make the average visit to the dealership much shorter than you probably expect. Our staff regularly engages in third-party customer service leadership training to ensure they approach every guest’s needs with a fresh, conducive view. While the greasy car dealer stereotype sure is entertaining, we’d prefer it to be a thing you only see on TV.</p>
	<div class="bottom_border"></div>
	<div class="prior"></div>
	<h3 class="page_title">WE WOULDN’T SELL IT IF WE DIDN’T LOVE IT</h3>
	<p>The entire Nissan of Omaha team is pleased to represent what we know to be a leading company making truly innovative automobiles. We’re a group of bona fide self-starters and sticklers, always taking a critical look at how to improve. At Nissan, we genuinely stand behind the ever-present mission to develop exceptional, efficient cars for our customers. It’s impossible to represent a product you don’t believe in. And we believe in Nissan cars.  </p>
</div>