<% provide(:title, 'Service') %>
<section class="service_main" style="background-image: url(<%= asset_path('services.jpg') %>)">
	<div class="container service_content">
		<h2 class="text">We Always Offer</h2>
		<h1 class="text">The Full Package</h1>
	</div>
</section>
<div class="container">
	<div class="service_content">
		<p>Whether it’s a routine oil change or something more involved, we think it’s important to take care of your Nissan the right way. To help make that happen, we employ factory-trained technicians who know the ins and outs of every model. We only work with the proper parts designed specifically for your car. Combined with a remarkable vehicle turnover time, relaxing waiting area, and easy online scheduling system, the experience at the Nissan of Omaha Service Department is nothing short of truly exceptional.

		<p>We do it all, including alignments, tire rotations, brakes, transmissions, heating and air conditioning, belt and pump replacements, and more. 

		<p>For information about our full list of services, contact a Service Advisor today at 402-763-2050 or via email. </p>

		<p><span class="red_italic">Quick and painless automobile service appointments -- what a novel idea!</span>  At Nissan of Omaha, we expedite the entire process, from the streamlined scheduling, to an express service lane, to the efficient and experienced technicians handling your vehicle. Just follow the steps below and we’ll have you on your way.
	</div>
	<div class="links">
		<a href="/getservice" class="red_button big"><h2>Schedule Service</h2></a>
	</div>

	<div class="contact_info">
		<div class="contact_section">
			<h3 class="contact_title">Service Line</h3>
			<p class="contact_line"><b>Phone:</b> 402-763-2050</p>
			<p class="contact_line"><b>Email:</b> service@nissanofomaha.com</p>
		</div>
		<div class="contact_section">
			<h3 class="contact_title">Service Hours</h3>
			<p class="contact_line"><b>MON - FRI</b> 7am - 6pm</p>
			<p class="contact_line"><b>SAT</b> 8am - 3:30pm</p>
			<p class="contact_line"><b>SUN</b> Closed</p>
		</div>
	</div>
</div>