<!-- app/views/pages/test.html.erb -->


<div class="container" style="padding: 100px;">
	<!--START: CarChat24 Chat Icon Code: Put this in the BODY section of your HTML Page.
	Insert the DIV in the section where you want the icon to appear. -->
	<div id="28B21973-CABE-4652-8BBC-B415BAB1AAE1" style="display:inline-block; position:relative;"></div>
	<!--END: CarChat24 Chat Icon Code: -->
</div>