<% provide(:title, 'Thanks') %>
<div class="container fourofour">
  <h2 class="form_title">Thanks for Contacting Us!</h2>
  <div class="links">
    <a href="/" class="red_button big"><h4>Go back to Home</h4></a>
  </div>
</div>