<%= image_tag('usedvehiclemain.jpg', :class => 'full') %>
<div class="filter">
  <h3>Filter Your Results</h3>
</div>


<!--   <div>
    <%= form_tag import_vehicles_path, class: "right", multipart: true do %>
      <%= submit_tag "Import from inventoy.txt", class: "button" %>
    <% end %>
  </div> -->


<div ng-controller="VehiclesCtrl">
  <div class="controls">
    <div class="control">
      <h5 class="price-click">Price</h5>
      <ul class="price">
        <li><p ng-click="min_price='0'; max_price='2000'">$0-$2,000</p></li>
        <li><p ng-click="min_price='2000'; max_price='5000'">$2,000-$5,000</p></li>
        <li><p ng-click="min_price='5000'; max_price='10000'">$5,000-$10,000</p></li>
        <li><p ng-click="min_price='10000'; max_price='100000'">$10,000-Above</p></li>
        <li><p ng-click="min_price=''; max_price=''">Clear</p></li>
  <!--      <li><p>Min Price:<input ng-model="min_price" /></p></li>
        <li><p>Max Price:<input ng-model="max_price" /></p></li> -->
      </ul>
    </div>
    <div class="control">
      <h5 class="odometer-click">Mileage</h5>
      <ul class="odometer">
        <li><p ng-click="min_odometer='0'; max_odometer='25'">0-25k</p></li>
        <li><p ng-click="min_odometer='25'; max_odometer='50'">25k-50k</p></li>
        <li><p ng-click="min_odometer='50'; max_odometer='75'">50k-75k</p></li>
        <li><p ng-click="min_odometer='75'; max_odometer='1000'">75k-Above</p></li>
        <li><p ng-click="min_odometer=''; max_odometer=''">Clear</p></li>
<!--         <li><p ng-click="min_price=''; max_price=''">Clear</p></li>
        <li><p>Min Price:<input ng-model="min_price" /></p></li>
        <li><p>Max Price:<input ng-model="max_price" /></p></li> -->
      </ul>
    </div>
<!--       <li>
        <a href="#" data-dropdown="year" class="small secondary button dropdown">Year:</a><br>
        <ul id="year" data-dropdown-content class="f-dropdown">
          <li><p>Year:<input ng-model="the_year" /></p></li>
        </ul>
      </li>

      <li>
        <a href="#" data-dropdown="mpg" class="small secondary button dropdown">MPG:</a><br>
        <ul id="mpg" data-dropdown-content class="f-dropdown">
          <li><p>Minimum City:<input ng-model="city_mpg" /></p></li>
          <li><p>Minimum Highway:<input ng-model="highway_mpg" /></p></li>
        </ul>
      </li> -->

<!--       <li>
        <a href="#" data-dropdown="model" class="small secondary button dropdown">Model</a><br>
        <ul id="model" data-dropdown-content class="f-dropdown">
          <li><p>Model:<input ng-model="the_model" /></p></li>
        </ul>
      </li>

      <li>
        <a href="#" data-dropdown="make" class="small secondary button dropdown">Make</a><br>
        <ul id="make" data-dropdown-content class="f-dropdown">
          <li><p>Make:<input ng-model="the_make" /></p></li>
        </ul>
      </li> -->

      <div class="control">
        <h5 class="">Make</h5>
      </div>
      <div class="control">
        <h5 class="">Model</h5>
      </div>
    </ul>
  </div>
<!--   <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" ng-model="query" placeholder="Search" />
      </div>
      <div class="small-2 columns">
        <span class="postfix">{{(items|filter:query).length}} Cars</span>
      </div>
    </div>
  </div> -->
  <div class="vehiclegroup">
    <div ng-show="loading">Loading Cars...</div>
    <ul class="vehicles">
      <li data-ng-repeat="item in items | orderBy:'-year' | filter:query | filter:priceFilter | filter:odometerFilter | filter:mpgFilter | filter:modelFilter | filter:makeFilter" class="repeat-item">
        <div class="vehicle" >
          <div class="top"><p>{{item.year}}</p></div>
          <div class="main">
            <img src="{{item.photos[0]}}" />
            <!-- <h4><a href="vehicles/{{$index + 1}}">{{item.make}} {{item.model }}</a></h4> -->
            <h4><a href="/usedvehicle">{{item.make}} {{item.model }}</a></h4>
            <p class="price">{{item.price | currency:"$"}}</p>
            <div class="bottom">
              <p class="mpg">{{item.city_mpg}}/{{item.highway_mpg}}</p>
              <p class="mileage">{{item.mileage }} k</p>
            </div>
          </div>
        </div>
      </li> 
    </ul>
  </div>
</div>