div.new_vehicle_form, div.test_ride_form, div.credit_application_form{
	.group {
		@include outer-container;
		background: #EEEEEE;
		padding: 15px;
		margin: 15px 0;

		@include media($tablet) {
			margin: 15px;
		}
	}
	.half {
		@include outer-container;
		@include media($tablet) {
		}
		.group {
			@include span-columns(6);
			@include media($tablet) {
				margin: 15px auto;
				@include span-columns(8);
			}
		}
	} 

	.three {
		@include span-columns(6 of 12);
	}
	h4 {
		text-align: center;
		border-bottom: 1px #ddd solid;
		padding-bottom: 10px;
		margin-top: 0;
	}

	.mpg {
		@include span-columns(12 of 12);
		@include omega;
		h3 {
			text-align: center;
		}

		.field {
			@include span-columns(6 of 12);
		}
	}
	.checkboxes {
		@include span-columns(12 of 12);
		@include omega;

		.field {
			@include span-columns(4 of 12);
		}
	}
	.field {
	
		input[type="checkbox"] {
			width: auto;
		}
		p {
			display: inline-block;
		}
		h3 {
			text-align: center;
		}
		.pref_cont { 
			@include span-columns(3);
			margin-right: 0;
			width: 20%;
			.prefix {
				background: #f2f2f2;
				border-color: #d7d7d7;
				color: #333333;
				display: block;
				position: relative;
				z-index: 2;
				text-align: center;
				width: 100%;
				padding-top: 0;
				padding-bottom: 0;
				border-style: solid;
				border-width: 1px;
				overflow: hidden;
				font-size: 0.77778rem;
				height: 2.05556rem;
				line-height: 2.05556rem;
			}
		}
		.input_cont {
			@include span-columns(9);
			width: 80%;
			input {
				-webkit-appearance: none;
				-webkit-border-radius: 0;
				border-radius: 0;
				background-color: white;
				font-family: inherit;
				border: 1px solid #cccccc;
				-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				color: rgba(0, 0, 0, 0.75);
				display: block;
				font-size: 0.77778rem;
				margin: 0 0 0.88889rem 0;
				padding: 0.44444rem;
				height: 2.05556rem;
				width: 100%;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
				-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
				transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
				-webkit-transition: all 0.15s linear;
				-moz-transition: all 0.15s linear;
				transition: all 0.15s linear;

			}
		}
		textarea {
			-webkit-appearance: none;
			-webkit-border-radius: 0;
			border-radius: 0;
			background-color: white;
			font-family: inherit;
			border: 1px solid #cccccc;
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			color: rgba(0, 0, 0, 0.75);
			display: block;
			font-size: 0.77778rem;
			margin: 0 0 0.88889rem 0;
			padding: 0.44444rem;
			height: 2.05556rem;
			width: 100%;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
			-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
			transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
			-webkit-transition: all 0.15s linear;
			-moz-transition: all 0.15s linear;
			transition: all 0.15s linear;
			min-height: 50px;
		}
	}
	.two {
		@include span-columns(6 of 12);
	}
	.two.last {
		@include omega;
	}
	input[type="file"] , select {
		-webkit-appearance: none !important;
		background: #fafafa;
		// background-position-x: 97%;
		// background-position-y: center;
		border: 1px solid #cccccc;
		padding: 15px;
		-webkit-border-radius: 0;
		border-radius: 0;
		width: 100%;
	}
	select {
		line-height: 18px;
	}

	.joint-click {
		cursor:pointer;
		@include transition(0.2s); 
	}
	.joint-click:hover {
		color: $darkred;
	}
	.joint {
		display:none;
	}
	.joint.up {
		display: block;
	}
}

div.actions {
	input[type="submit"] {
		width: 100%;
		margin-bottom: 50px;
		line-height: 30px;
		border: none;
		background: $red;
		color: white;
		cursor: pointer;
		@include transition(0.2s);
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'nissan-ag';
	}
	input[type="submit"]:hover {
		background: $darkred;
	}

}

.subtitle {
	color: $red;
	text-align: center;
	text-transform: uppercase;
}
.thin_form_title {
	color: #777;
	font-weight: 100;
	text-align: center;
}

.form_section {
	margin: 50px 0;
}

.the_fields {
	margin: 15px 0;
	@include outer-container;
	.gray_label {
		background: #eee;
		text-align: center;
		border-radius: 5px;
		.gray_label_content {
			font-weight: 100;
			font-size: 15px;
			line-height: 50px;
			margin: 0;
			@include media($mobile) {
				font-size: 12px;
			}
		}	
	}
	.gray_label.half {
		@include span-columns(6);
		@include media($mobile) {
			@include span-columns(4);
		}
	}
	.gray_label.fifth {
		width: 40%;
		margin: 0;
		float: left;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		@include media($mobile) {
			font-size: 12px;
			line-height: 27px;
		}
		
	}
	.text_field_content {
		width: 60%;
		border: 0;
		margin: 0;
		border: 2px solid #eee;
		float: left;
		line-height: 45px;
		font-size: 15px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		padding-left: 15px;
		@include media($mobile) {
			font-size: 12px;
		}
	}

	.text_field.half {
		@include span-columns(6);
		@include media($mobile) {
			@include span-columns(4);
			margin: 5px 0;
		}
	}


	.gray_title {
		color: #777;
		text-align: center;
	}

	.text_area_content {
		border: 2px solid #eee;
		border-radius: 5px;
		width: 100%;
		// min-height: 50px;
		font-size: 15px;
		padding: 15px;
	}

	.red_checkbox {
	  background-color: #EFEFEF;
	  border-radius: 5px;
	  overflow: auto;
		label {
	    span {
		    text-align:center;
		    display:block;
		    border-radius:5px;
		    line-height: 50px;
		    @include media($mobile) {
					font-size: 12px;
				}
			}
			input {
		    position:absolute;
		    top:-20px;
			}
		}
		input:hover + span {
	    background-color:$darkred;
	    color:#fff;
	    cursor: pointer;
		}
		input:checked + span {
	    background-color:$red;
	    color:#fff;
		}
		input:checked:hover + span {
	    background-color:$darkred;
	    color:#fff;
	    cursor: pointer;
		}
	}
	.red_checkbox.quarter {
		@include span-columns(3);
		@include media($mobile) {
			@include span-columns(2);
			margin-top: 5px;
		}
	}
	.red_checkbox.sixth {
		@include span-columns(2);
		@include media($mobile) {
			@include span-columns(1.3333);
			margin-top: 5px;
		}
	}

}
	

// .red_checkbox {
//   margin: 4px;
//   background-color: #EFEFEF;
//   border-radius: 4px;
//   border: 1px solid #D0D0D0;
//   overflow: auto;
//   float: left;
// 	label {
//     float:left;
//     width:4.0em;
//     span {
// 	    text-align:center;
// 	    padding:3px 0px;
// 	    display:block;
// 	    border-radius:4px;
// 		}
// 		input {
// 	    position:absolute;
// 	    top:-20px;
// 		}
// 	}
// 	input:hover + span {
//     background-color:#efE0E0;
// 	}
// 	input:checked + span {
//     background-color:#911;
//     color:#fff;
// 	}
// 	input:checked:hover + span {
//     background-color:#c11;
//     color:#fff;
// 	}
// }