header {
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	height: 75px;
	width: 100%;
	background: white;
	position: fixed;
	nav {
		@include outer-container;
		img.logo {
			margin-top: 12px;
		}
		ul {
			display: inline-block;
			padding-right: 0;
			li {
				list-style: none;
				float: left;
				padding: 0 15px;
				a {
					font-weight: bold;
					color: #999999;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 13px;
					@include transition(0.2s ease-in-out);
				}
				a.active, a:hover {
					color: $red;
				}
			}
		}
		img.nissan_logo {
			float: right;
		}
	}
}