header.main {
	// box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	height: 75px;
	width: 100%;
	background: white;
	position: fixed;
	top: 0;
	z-index: 100;
	border-bottom: 3px #ddd solid;
	nav {
		@include outer-container;
		position: relative;
		img.logo {
			margin-top: 12px;
		}
		ul.menu {
			display: inline-block;
			padding-left: 0;
			margin: 12px 0;
			li {
				list-style: none;
				float: left;
				position: relative;
				

				div.different, div.new-dropdown, div.location, div.phone, div.chat {
					display: none;
				}

				div.different.up, div.new-dropdown.up {
					display: block;
					position: absolute;
					background: white;
					width: 100%;
					a.media {
						display: block;
						padding: 20px 0;
						text-align: center;
						font-weight: 100;
						text-transform: none;
						border-bottom: 2px #eee solid;
						margin: 0;
						h4 {
							margin:0;
							font-weight: 100;
						}
					}
					a.media:hover {
						font-weight: bold;
						border-bottom: 2px $red solid;
					}
				}
				 

				a {
					font-weight: bold;
					color: #999999;
					text-transform: uppercase;
					text-decoration: none;
					
					h4 {
						font-size: 13px;
						margin: 0 17px;
					}
					
					@include transition(0.1s ease-in-out);
				}
				a.active, a:hover {
					color: $red;
				}
			}
			li.up {
				.location-click, .phone-click, .chat-click, .new-dropdown-click, .different-click {
					color: $red;
					.top-icon {
						color: $red;
					}
				}

				.location, .phone, .chat, .new-dropdown, .different {
					display: block;
					position: absolute;
					background: white;
					width: 200px;
					margin-top: 21px;
					margin-left: -76px;
					border: 3px $red solid;
					a:first-child, a:first-child:hover {
						border-top: none;
					}
					a {
						display: block;
						line-height: 50px;
						text-align: center;
						text-transform: none;
						margin: 0;
						border-top: 1px #999 solid;
						h4 {
							margin:0;
							font-weight: bold;
						}
					}
					a:hover {
						font-weight: bold;
						border-color: $red;
					}
				}
				// .location {
				// 	margin-left: -75px;
				// }
				.different {
					margin-left: -15px;
					margin-top: 23px;
				}
				.new-dropdown {
					margin-left: -35px;
					margin-top: 23px;
				}
				.location:before, .phone:before, .chat:before, .new-dropdown:before, .different:before {
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 16px solid #c71444;
					top: -19px;
					left: 80px;
				} 

				.location:after, .phone:after, .chat:after, .new-dropdown:after, .different:after {			
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 16px solid white;
					top: -15px;
					left: 80px;
				}


			}
			@include media($tablet) {
				display:none;
			}
		}

		ul.mobile-menu {
			display:none;
		}
		ul.mobile-menu.up {
			@include media($tablet) {
				display: inline-block;
				position: absolute;
				width: 100%;
				top: 75px;
				left: 0;
				text-align: center;
				padding-left: 0;
				background: white;
				margin: 0;
				border-top: 2px #eee solid;
				li {
					list-style: none;
					position: relative;
					border-bottom: 2px #eee solid;

					div.mobile-different {
						display: none;
					}
					div.mobile-different.up {
						border-top: 2px #eee solid;
						display: block;
						background: white;
						width: 100%;
						margin-bottom: -2px;
						a.media {
							display: block;
							text-align: center;
							font-weight: 100;
							text-transform: none;
							border-bottom: 2px #eee solid;
						}
						a.media:hover {
							font-weight: bold;
							border-bottom: 2px $red solid;
						}
					}

					a {
						font-weight: bold;
						color: #999999;
						text-transform: uppercase;
						text-decoration: none;
						font-size: 13px;
						margin: 0;
						@include transition(0.2s ease-in-out);
						h4 {
							margin: 0;
							line-height: 50px;
						}
					}
					a.active, a:hover {
						color: $red;
					}
				}
			}
		}
		img.nissan_logo {
			position: absolute;
			right:0;
		}
	}
}

.top-icon {
	font-size: 24px;
	line-height: 0;
	color: #999999;
	padding: 0 15px;
	@include transition(0.2s ease-in-out);
}
.top-icon:hover {
	color: $red;
	cursor: pointer;
}

.navicontainer {
	display:none;
	@include media($tablet) {
		background: white;
		height: 60px;
		padding: 20px 0px;
		width: 60px;
		cursor: pointer;
		z-index: 2;
		display: inline-block;
		vertical-align: top;
		margin-right: 85px;
		float: right;
		.menu {
			@include transition (all 0.2s ease-in-out);
			color: #777;
			font-size: 12px;
			margin: 0;
			font-weight: bold;
			text-align: center;
		}
		.navicon {
			@include transition (all 0.2s ease-in-out);
			content: "";
			width: 30px;
			height: 4px;
			background: #777;
			box-shadow: 0 9px 0 0 #777, 0 18px 0 0 #777;
			margin: auto;
			display: block;
			margin-bottom: 20px;
		}
	}
}
	.navicontainer:hover {
		.navicon {
			background: black;
			box-shadow: 0 9px 0 0 black, 0 18px 0 0 black;
		}
		.menu {
			color: black;
		}
	}

$button-size : 36px; 
$transition: .3s; // increase this to see the transformations in slow-motion
$color: #777;


.lines-button {
	display: none;
	@include media($tablet) {
	  display: inline-block;
	  padding: 25px 10px;
	  transition: .3s;
	  cursor: pointer;
	  user-select: none;
	  border-radius: $button-size/7;
	 	vertical-align: top;
	 	float: right;
	 	margin-right:85px;
	  &:hover {
	    opacity: 1;
	  }
	 
	  &:active {
	    transition: 0;
	    // background: rgba(0,0,0,.1);
	  }
	  h2 {
	  	font-size: 12px;
	  	color: #777;
	  }
	}
}

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $color;
  // border-radius: $button-size/14; 
  transition: $transition;
}
.lines {
  @include media($tablet) {
	  //create middle line
	  @include line;
	  position: relative; 
	 
	  /*create the upper and lower lines as pseudo-elements of the middle line*/
	  &:before, &:after {
	   
	   @include line;
	    position: absolute;
	    left:0;
	    content: '';
	    transform-origin: $button-size/14 center;
	  }
	  &:before { top: $button-size/4; }
	  &:after { top: -$button-size/4; }
	}
}

.lines-button.x.close .lines{
 	@include media($tablet) {
    /*hide the middle line*/
    background: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
 
    // rotate the lines to form the x shape
    &:before{
    	-webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0,0,1,45deg); 
    }
    &:after{
    	-webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0,0,1,-45deg); 
    }
  }
}