section.main_top {
	background-size: cover;
	background-position: center bottom;
	.big {
		color: $red;
		text-transform: uppercase;
		padding: 5% 0 20%;
		h4 {
			margin-bottom: -10px;
			font-size: 20px;
		}
		h1 {
			margin-top: 0;
			font-size: 80px;
		}
	}

	.home {
		color: white;
		text-transform: uppercase;
		padding: 3% 0 20%;
		h4 {
			font-size: 25px;
			margin-top: 0;
			margin-bottom: 10px;
		}
		h1 {
			font-size: 50px;
			margin-bottom: 0;
		}
		p {
			text-transform: none;
		}

		h1, h4, p {
			padding-left: 15px;
		}
		.prior {
			height: 0;
		}
		.bottom_border_home {
			border-bottom: 3px solid $red;
			margin-left: -20px;
		}
	}
}

.page {
	max-width: 720px;
	margin: auto;
	color: #777777;
	.page_title {
		color: $red;
		text-transform: uppercase;
	}
}

.home_chairs {
	overflow: hidden;
	.home_left, .home-right {
		@include span-columns(6);
	}
	.home-right {
		img { 
			position: relative;
		}
	}
	.bottom_border {
		border-bottom: 3px solid $red;
		max-width: 100%;
		width: 1000px;
		position: absolute;
	}
}
.bottom_border {
			border-bottom: 3px solid $red;
		}