.filter {
	background: $red;
	color: white;
	text-align: center;
	h3 {
		margin: 0;
		padding: 15px;
	}
}

.controls {
	@include outer-container;
	.control {
		margin-right: -1px;
		margin-bottom: -1px;
		width: 25%;
		border: 1px solid #ddd;
		float: left;
		position: relative;
		@include media($tablet) {
			width: 50%;
			.price.up, .odometer.up, .make.up, .model.up {
				z-index: 1;
				li {
					padding: 0 !important;
				}
			}
		}
		h5 {
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
		}
		.price, .odometer, .model, .make {
			display: none;
		}
		.price.up, .odometer.up, .make.up, .model.up {
			display: block;
			position: absolute;
			background: white;
			padding-left: 0;
			width: 100%;
			margin-top: 0px;
			border: 1px solid #ddd;
			li {
				list-style: none;
				border-bottom: 1px solid #EEEEEE;
				p {
					text-align: center;
					cursor: pointer;
					color: #999999;
					font-weight: 100;
				}
			}
			.model_group {
				display: none;
			}
			.model_group.current {
				display: block;
				li {
					padding: 0;
					margin: 0;
					width: 100%;
				}
			}
			li:hover, li.selected {
				border-bottom: 1px solid $red;
				@include transition(0.2s);
				p {
					color: $red;
				}
			}
		}
		.model.up {
			li {
				border-bottom: none;
				padding: 0;
				ul{
					padding: 0;
					li {
						padding: 0;
						border-bottom: 1px solid #EEEEEE;
					}
					li:hover, li.selected {
						border-bottom: 1px solid $red;
						@include transition(0.2s);
						p {
							color: $red;
						}
					}
				}
			}
			li:hover {
				border-bottom: none;
				ul li p {
					color: #999;
				}
				ul li:hover p {
					color: $red;
				}
			}
		}
	}

}

.vehiclegroup {
	ul.vehicles {
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			width: 250px;
			padding: 0 15px;
			margin: 10px 0;
			vertical-align: top;

			@include media($mobile) {
				margin: auto;
				width: 90%;
				display: block;
			}
		}
	}
}

.vehicle {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	.top {
		p {
			font-size: 11px;
			color: #777777;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.year, .drive {
			display: inline-block;
		}
		.drive {
			float: right;
		}
	}
	.main {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
		.image {
			width: 100%;
			height: 150px;
			background: #eee;
			background-size: cover;
			background-position: left center;
		}
		p.name {
			line-height: 25px;
			text-align: center;
			margin: 0px;
			font-size: 11px;
			a {
				text-decoration: none;
				font-weight: bold;
				color: #333;
				text-transform: uppercase;
				@include transition(0.2s);
			}
			a:hover {
				color: $red;
			}
		}
		p.price {
			line-height: 1em;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			color: #777777;
			font-weight: bold;
			font-size: 14px;
		}

		.bottom {
			background: #DDDDDD;
			p {
				text-align: center;
				text-transform: uppercase;
				line-height: 30px;
				text-transform: none;
				color: #333333;
				font-weight: bold;
				margin: 0;
				@include transition(0.2s);
			}
			p:hover {
				color: $red;
			}
			.ma, .mpg, .mileage {
				display: inline-block;
				width: 23%;
				font-size: 11px;
			}
			.mpg {
				display: inline-block;
				width: 47%;
				font-size: 11px;
				border-right: 1px solid white;
				border-left: 1px solid white;
			}
			.comments {
				background: white;
				text-align: center;
				padding: 15px;
				position:relative;
				p {
					position: absolute;
					left:0;
					top: 0;
					width: 100%;
					display:block;
					color: $red;
					text-transform: uppercase;
					text-align: center;
					opacity: 0;
				}
				p.up {
					opacity: 1;
				}
			}
		}
	}
}


.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}


section.main_top.used_top {
	@include media($big) {
		background-position: center center;
	}
}

.used_main {
	padding: 5% 15px 20%;
	@include media($big) {
		padding: 50px 15px 200px;
	}
	color: white;
	h2 {
		font-size: 35px;
		margin-bottom: 0;
	}
	@include media($tablet) {
		padding: 10% 15px 14%;
		text-shadow: 0 0 5px black;
		background: rgba(0,0,0,0.4);
		h2 { 
			font-size: 26px;
		}
		p {
			font-size: 16px;
		}
	}

	@include media($mobile) {
		padding: 5% 15px 20% !important;
		text-shadow: 0 0 5px black;
		background: rgba(0,0,0,0.7);
		h2 { 
			font-size: 18px;
		}
		p {
			font-size: 12px;
		}
	}
}