/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */
@import "bourbon";
@import "neat";
@import "grid_settings";

@import "nissan-ag";

html, body {
  margin: 0;
}

body {
  margin-top: 75px;
}

img.full {
  width: 100%;
  display: block;
}

$red: #C71444;

h1, h2, h3, h4, h5, h6, body {
  font-family: 'nissan-ag';
}

div.container {
  @include outer-container;
}

.field {
  input, textarea {
    width: 100%;
  }
}


@import "header";
@import "vehicle";
@import "new_vehicles";
@import "photos";