/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */
@import "bourbon";
@import "neat";
@import "grid_settings";

@import "nissan-ag";

html, body {
  margin: 0;
}

body {
  margin-top: 75px;
}

img.full {
  width: 100%;
  display: block;
}

$lightgray: #DDDDDD;
$darkgray: #666666;
$red: #C71444;
$darkred: #B30030;

h1, h2, h3, h4, h5, h6 {
  font-family: 'nissan-ag';
}

body, p {
  font-family: Verdana, Geneva, sans-serif;
}

div.container {
  @include outer-container;
  @include media($tablet) {
    padding: 0 15px;
  }
}

.field {
  input, textarea {
    width: 100%;
  }
}

.fourofour {
	padding: 10% 0;
}


@import "owl.carousel";
@import "owl.theme";
@import "owl.transitions";

@import "header";
@import "footer";
@import "vehicle";
@import "new_vehicles";
@import "photos";

@import "royalslider";
@import "rs-universal";

@import "service";

@import "used_vehicle";

@import "philosophy";