@font-face {
    font-family: 'nissan-ag';
    src: font-url('/assets/nissanag-light-webfont.eot');
    src: font-url('/assets/nissanag-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-light-webfont.woff') format('woff'),
         font-url('/assets/nissanag-light-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-light-webfont.svg#nissanaglight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'nissan-ag';
    src: font-url('/assets/nissanag-regular-webfont.eot');
    src: font-url('/assets/nissanag-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-regular-webfont.woff') format('woff'),
         font-url('/assets/nissanag-regular-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-regular-webfont.svg#NissanAGRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'nissan-ag';
    src: font-url('/assets/nissanag-italic-webfont.eot');
    src: font-url('/assets/nissanag-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-italic-webfont.woff') format('woff'),
         font-url('/assets/nissanag-italic-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-italic-webfont.svg#NissanAGItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'nissan-ag';
    src: font-url('/assets/nissanag-bold-webfont.eot');
    src: font-url('/assets/nissanag-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-bold-webfont.woff') format('woff'),
         font-url('/assets/nissanag-bold-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-bold-webfont.svg#NissanAGBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* IE */
@font-face {
    font-family: 'nissan-ag-n2';
    src: font-url('/assets/nissanag-light-webfont.eot');
    src: font-url('/assets/nissanag-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-light-webfont.woff') format('woff'),
         font-url('/assets/nissanag-light-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-light-webfont.svg#nissanaglight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'nissan-ag-n4';
    src: font-url('/assets/nissanag-regular-webfont.eot');
    src: font-url('/assets/nissanag-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-regular-webfont.woff') format('woff'),
         font-url('/assets/nissanag-regular-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-regular-webfont.svg#NissanAGRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'nissan-ag-i4';
    src: font-url('/assets/nissanag-italic-webfont.eot');
    src: font-url('/assets/nissanag-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-italic-webfont.woff') format('woff'),
         font-url('/assets/nissanag-italic-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-italic-webfont.svg#NissanAGItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'nissan-ag-n7';
    src: font-url('/assets/nissanag-bold-webfont.eot');
    src: font-url('/assets/nissanag-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/nissanag-bold-webfont.woff') format('woff'),
         font-url('/assets/nissanag-bold-webfont.ttf') format('truetype'),
         font-url('/assets/nissanag-bold-webfont.svg#NissanAGBold') format('svg');
    font-weight: 700;
    font-style: normal;
}