<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		
<p>
  <strong>Primary Applicant first name:</strong>
  <%= @credit_application.primary_first_name %>
</p>

<p>
  <strong>Primary Applicant last name:</strong>
  <%= @credit_application.primary_last_name %>
</p>

<p>
  <strong>Primary Applicant address:</strong>
  <%= @credit_application.primary_address %>
</p>

<p>
  <strong>Primary Applicant city:</strong>
  <%= @credit_application.primary_city %>
</p>

<p>
  <strong>Primary Applicant state:</strong>
  <%= @credit_application.primary_state %>
</p>

<p>
  <strong>Primary Applicant zip code:</strong>
  <%= @credit_application.primary_zip_code %>
</p>

<p>
  <strong>Primary Applicant contact phone:</strong>
  <%= @credit_application.primary_contact_phone %>
</p>

<p>
  <strong>Primary Applicant email:</strong>
  <%= @credit_application.primary_email %>
</p>

<p>
  <strong>Primary Applicant time at residence:</strong>
  <%= @credit_application.primary_time_at_residence %>
</p>

<p>
  <strong>Primary Applicant monthly rent:</strong>
  <%= @credit_application.primary_monthly_rent %>
</p>

<p>
  <strong>Primary Applicant date of birth:</strong>
  <%= @credit_application.primary_date_of_birth %>
</p>

<p>
  <strong>Primary Applicant social security number:</strong>
  <%= @credit_application.primary_social_security_number %>
</p>

<p>
  <strong>Primary Applicant employer name:</strong>
  <%= @credit_application.primary_employer_name %>
</p>

<p>
  <strong>Primary Applicant employer phone:</strong>
  <%= @credit_application.primary_employer_phone %>
</p>

<p>
  <strong>Primary Applicant occupation:</strong>
  <%= @credit_application.primary_occupation %>
</p>

<p>
  <strong>Primary Applicant time on job:</strong>
  <%= @credit_application.primary_time_on_job %>
</p>

<p>
  <strong>Primary Applicant monthly income:</strong>
  <%= @credit_application.primary_monthly_income %>
</p>

<p>
  <strong>Joint Applicant first name:</strong>
  <%= @credit_application.joint_first_name %>
</p>

<p>
  <strong>Joint Applicant last name:</strong>
  <%= @credit_application.joint_last_name %>
</p>

<p>
  <strong>Joint Applicant address:</strong>
  <%= @credit_application.joint_address %>
</p>

<p>
  <strong>Joint Applicant city:</strong>
  <%= @credit_application.joint_city %>
</p>

<p>
  <strong>Joint Applicant state:</strong>
  <%= @credit_application.joint_state %>
</p>

<p>
  <strong>Joint Applicant zip code:</strong>
  <%= @credit_application.joint_zip_code %>
</p>

<p>
  <strong>Joint Applicant contact phone:</strong>
  <%= @credit_application.joint_contact_phone %>
</p>

<p>
  <strong>Joint Applicant email:</strong>
  <%= @credit_application.joint_email %>
</p>

<p>
  <strong>Joint Applicant time at residence:</strong>
  <%= @credit_application.joint_time_at_residence %>
</p>

<p>
  <strong>Joint Applicant monthly rent:</strong>
  <%= @credit_application.joint_monthly_rent %>
</p>

<p>
  <strong>Joint Applicant date of birth:</strong>
  <%= @credit_application.joint_date_of_birth %>
</p>

<p>
  <strong>Joint Applicant social security number:</strong>
  <%= @credit_application.joint_social_security_number %>
</p>

<p>
  <strong>Joint Applicant employer name:</strong>
  <%= @credit_application.joint_employer_name %>
</p>

<p>
  <strong>Joint Applicant employer phone:</strong>
  <%= @credit_application.joint_employer_phone %>
</p>

<p>
  <strong>Joint Applicant occupation:</strong>
  <%= @credit_application.joint_occupation %>
</p>

<p>
  <strong>Joint Applicant time on job:</strong>
  <%= @credit_application.joint_time_on_job %>
</p>

<p>
  <strong>Joint Applicant monthly income:</strong>
  <%= @credit_application.joint_monthly_income %>
</p>

<p>
  <strong>Vehicle of Interest model year:</strong>
  <%= @credit_application.interest_model_year %>
</p>

<p>
  <strong>Vehicle of Interest make:</strong>
  <%= @credit_application.interest_make %>
</p>

<p>
  <strong>Vehicle of Interest model:</strong>
  <%= @credit_application.interest_model %>
</p>

<p>
  <strong>Vehicle of Interest price:</strong>
  <%= @credit_application.interest_price %>
</p>

<p>
  <strong>Vehicle of Interest mileage:</strong>
  <%= @credit_application.interest_mileage %>
</p>

<p>
  <strong>Vehicle of Interest vin:</strong>
  <%= @credit_application.interest_vin %>
</p>

<p>
  <strong>Trade In Model year:</strong>
  <%= @credit_application.trade_model_year %>
</p>

<p>
  <strong>Trade In Make:</strong>
  <%= @credit_application.trade_make %>
</p>

<p>
  <strong>Trade In Model:</strong>
  <%= @credit_application.trade_model %>
</p>

<p>
  <strong>Trade In Price:</strong>
  <%= @credit_application.trade_price %>
</p>

<p>
  <strong>Trade In Mileage:</strong>
  <%= @credit_application.trade_mileage %>
</p>

<p>
  <strong>Trade In VIN:</strong>
  <%= @credit_application.trade_vin %>
</p>
		<p>Sent on: <%= @sent_on %></p>
	</body>
</html>