<footer>
	<div class="container">
		<div class="address">
			<h5>Nissan of Omaha<span class="white">|</span>17410 Burt St<span class="white">|</span>Omaha, NE<span class="white">|</span>68118</h5>
		</div>
		<div class="contacthours">
			<div class="hours">
				<ul>
					<li class="footer_title">Come In and See Us</li>
					<li><b>M-TH</b> 8:30am - 8:30pm</li>
					<li><b>Fri</b> 8:30am - 6:00pm</li>
					<li><b>Sat</b> 8:30am - 5:30pm</li>
					<li><b>Sun</b> Closed</li>
				</ul>
			</div>
			<div class="call">
				<ul>
					<li class="footer_title">Give Us a Call</li>
					<li><b>Sales:</b> <a href="tel:8882111543">888-211-1543</a></li>
					<li><b>Service:</b> <a href="tel:8882104132">888-210-4132</a></li>
					<li><b>Parts:</b> <a href="tel:8882073226">888-207-3226</a></li>
					<li>
						<!--START: CarChat24 Chat Icon Code: Put this in the BODY section of your HTML Page.
						Insert the DIV in the section where you want the icon to appear. -->
						<!-- <div id="28B21973-CABE-4652-8BBC-B415BAB1AAE1" style="display:inline-block; position:relative;"></div> -->
						<!--END: CarChat24 Chat Icon Code: -->
					</li>
				</ul>
			</div>
		</div>	
	</div>
	<div class="container">	
		<div class="copyright">
			<p>
				Copyright 2014 Nissan of Omaha, All Rights Reserved
			</p>
			<p><a class="privacy" href="/privacy">Privacy Policy</a></p>
		</div>		
	</div>

</footer>