<footer>
	<div class="container">
		<div class="address">
			<h5 itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				Nissan of Omaha
				<span class="white">|</span>
				<span itemprop="streetAddress">17410 Burt St</span>
				<span class="white">|</span>
				<span itemprop="addressLocality">Omaha</span>, 
				<span itemprop="addressRegion">NE</span>
				<span class="white">|</span>
				<span itemprop="postalCode">68118</span>
			</h5>
		</div>
		<div class="contacthours">
			<div class="hours">
				<ul>
					<li class="footer_title">Come In and See Us</li>
					<li><b>M-TH</b> 8:30am - 8:30pm</li>
					<li><b>Fri</b> 8:30am - 6:00pm</li>
					<li><b>Sat</b> 8:30am - 5:30pm</li>
					<li><b>Sun</b> Closed</li>
				</ul>
			</div>
			<div class="call">
				<ul>
					<li class="footer_title">Give Us a Call</li>
					<li><b>Sales:</b> <a href="tel:8882111543">888-211-1543</a></li>
					<li><b>Service:</b> <a href="tel:8882104132">888-210-4132</a></li>
					<li><b>Parts:</b> <a href="tel:8882073226">888-207-3226</a></li>
					<li>
						<!--START: CarChat24 Chat Icon Code: Put this in the BODY section of your HTML Page.
						Insert the DIV in the section where you want the icon to appear. -->
						<!-- <div id="28B21973-CABE-4652-8BBC-B415BAB1AAE1" style="display:inline-block; position:relative;"></div> -->
						<!--END: CarChat24 Chat Icon Code: -->
					</li>
				</ul>
			</div>
		</div>	
	</div>
	<div class="container">	
		<div class="copyright">
			<p>
				Copyright 2014 Nissan of Omaha, All Rights Reserved
			</p>
			<p><a class="privacy" href="/privacy">Privacy Policy</a></p>
		</div>		
	</div>

</footer>

<!-- BEGIN HIBU STUFF -->

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-52518450-1', 'auto');
	ga('send', 'pageview');

</script>

<script type='text/javascript' src='http://www.yellowbookleads.com/ybDynamicPhoneInsertion.js'></script>

<script>

	ybFindPhNums = ['18882111543', '18882104132', '18882073226', '18882111543', '18882104132', '18882073226'];
	ybReplacePhNums = ['18888819938', '18884896297', '18886373842', '18775827170', '18773694715', '18775257068'];


	ybFun_ReplaceText();

</script>

<!-- END OF HIBU STUFF -->

<!-- Begin Shareaholic -->

<script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = '6f995eba4a9947baa2fb5bf0b0d7a8c2';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>

<!-- End Shareaholic -->