<header>
	<nav>
		<a href="/"><%= image_tag("logo.png", :class => "logo") %></a>
		<ul class="menu">
			<li>
				<a href="#" class="different-click" >How We're Different</a>
				<div class="different">
					<a href="/medialounge" class="media">Media Lounge</a>
					<a href="/joinourteam" class="media">Join Our Team</a>
				</div>
			</li>
			<li><a href="/newvehicle">New Vehicles</a></li>
			<li><%= link_to "Used Vehicles", usedvehicles_url, class: active_class?(usedvehicles_url) %></li>
			<li><a href="#">Service</a></li>
		</ul>
		<%= image_tag("nissan_logo.png", :class => "nissan_logo") %>
	</nav>
</header>