<header>
	<nav>
		<a href="/"><%= image_tag("logo.png", :class => "logo") %></a>
		<ul class="menu">
			<li>How We're Different</li>
			<li>New Vehicles</li>
			<li><a href="/usedvehicles">Used Vehicles</a></li>
			<li>Service</li>
		</ul>
		<%= image_tag("nissan_logo.png", :class => "nissan_logo") %>
	</nav>
</header>